{{>admin_header}}

<section class="min-h-fit h-screen mt-10 p-4 px-24" dir="ltr">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6 ">


        <a href="/admin/article">
            <div
                class="h-36 p-7 text-xl rounded-lg grid place-items-center font-bold text-center bg-[#896D8E] text-white">
                <i class="fa-solid fa-file-lines text-4xl"></i>
                Manage articles
            </div>
        </a>
        <a href="/admin/news">
            <div
                class="h-36 p-7 text-xl rounded-lg grid place-items-center font-bold text-center bg-[#896D8E] text-white">
                <i class="fas fa-newspaper text-4xl"></i>
                Manage News
            </div>
        </a>
        <a href="/admin/category">
            <div
                class="h-36 p-7 text-xl rounded-lg grid place-items-center font-bold text-center bg-[#896D8E] text-white">
                <i class="fa-solid fa-pen-to-square text-4xl"></i>
                Manage Categories
            </div>
        </a>
        <a href="/admin/subscriptions">
            <div
                class="h-36 p-7 text-xl rounded-lg grid place-items-center font-bold text-center bg-[#896D8E] text-white">
                <i class="fa-solid fa-receipt text-4xl"></i>
                Subscriptions
            </div>
        </a>
        <a href="/admin/settings">
            <div
                class="h-36 p-7 text-xl rounded-lg grid place-items-center font-bold text-center bg-[#896D8E] text-white">
                <i class="fa-solid fa-gear text-4xl"></i>
                Settings
            </div>
        </a>
    </div>
</section>