<header dir="ltr" class="px-4 relative w-full border-b-8 border-blue-800 shadow-lg fixed bg-white top-0">
        <nav class="w-full mx-auto lg:grid md:grid lg:grid-cols-4 md:grid-cols-4 sm:flex flex justify-between">
            <a href="/admin" class="p-5 flex">
                            <img src="/static/images/Midad typeface.png" class="w-32 md:w-36 h-auto" />

            </a>
            <div class="col-span-3 hidden lg:flex md:flex justify-end gap-4 items-center sm:hidden p-5 my-auto text-sm text-gray-700">
                 <a href="/admin" class="text-right hover:text-gray-800">Home</a>
                <a href="/admin/logout" class="text-right py-2 px-4 bg-red-500 text-white cursor-pointer hover:bg-red-600 rounded-md">Log out</a>
            </div>
            
            <div id=""
                class="sidebar_icon my-auto text-left w-10 justify-self-end lg:hidden md:hidden block text-gray-800 text-xl font-semibold cursor-pointer">
                <div>
                    <i class="menu_button fa-solid fa-bars"></i>
                </div>
                <div class="hidden transition-all duration-500 ease-in-out transform" id="menu_close">
                    <i class="fa-solid fa-xmark"></i>
                </div>
            </div>

        </nav>

    </header>

    <nav class="lg:hidden md:hidden sm:hidden hidden w-full fixed top-24 z-10 transition-all duration-500 ease-in-out transform"
        id="sidebar_menu">
        <div class="w-full h-screen grid grid-cols-3">
            <div class="bg-black opacity-50 relative" id="blank_model">

            </div>
            <div class="col-span-2 pt-12 bg-gray-200 px-8 font-bold text-sm text-gray-700">
                <ul class="">
                    <li class="py-4 border-b-2 border-t-2 border-gray-500 text-center"><a href="/admin"
                            class=" hover:text-blue-800  cursor-pointer">Home</a></li>
                    <li class="py-4 bg-red-500 border-b-2 border-gray-500 text-center"><a href="/admin/logout"
                            class=" hover:text-blue-800  cursor-pointer">Log out</a></li>
                </ul>
            </div>
            

        </div>
    </nav>