<header class="px-4 z-20 relative w-full border-b-8 border-blue-800 shadow-lg fixed bg-white top-0" style="z-index:1;">
        <nav class="w-full mx-auto lg:grid md:grid lg:grid-cols-4 md:grid-cols-4 sm:flex flex justify-between">
            <a href="/" class="p-5 flex">
                <img src="/static/images/midad_emblam.png" class="w-14 h-14" />
                <img src="/static/images/Midad_typeface.png" class="w-20 h-14" />
            </a>
            <div class="col-span-2 hidden lg:flex sm:hidden p-5 my-auto font-bold text-lg text-gray-700">
                <a href="/" class="mr-12 hover:text-blue-800">الرئيسية</a>
                <a href="#" class="mr-12 hover:text-blue-800">دراسات</a>
                <a href="#" class="mr-12 hover:text-blue-800">مقالات</a>
                <a href="#" class="mr-12 hover:text-blue-800">يراع اليافعين</a>
                <a href="#" class="mr-12 hover:text-blue-800">المزيد</a>
            </div>
            <div
                class="p-5 my-auto mr-96 lg:cols lg:col-span-1 md:col-span-1 sm:col-span-2 lg:block  hidden lg:justify-self-end place-self-end">
                <div class="flex">
                    <a href=""><i class="fa-brands fa-facebook text-xl bg-blue-500 text-white p-2 rounded ml-4"></i></a>
                    <a href="https://www.instagram.com//al_midad_/" target="_blank"><i
                            class="fa-brands fa-instagram-square text-xl bg-blue-500 text-white p-2 rounded ml-4"></i></a>
                    <a href="www.instagram.com/almidad"><i
                            class="fa-brands fa-youtube text-xl bg-blue-500 text-white p-2 rounded ml-4"></i></a>
                </div>
            </div>
            
            <div id="sidebar_icon"
                class="my-auto text-left w-10 justify-self-end lg:hidden md:hidden block text-gray-800 text-xl font-semibold cursor-pointer">
                <div id="menu_button">
                    <i class="fa-solid fa-bars"></i>
                </div>
                <div class="hidden transition-all duration-500 ease-in-out transform" id="menu_close">
                    <i class="fa-solid fa-xmark"></i>
                </div>
            </div>

        </nav>

    </header>

    <nav class="lg:hidden md:hidden sm:hidden hidden w-full fixed top-24 z-10 transition-all duration-500 ease-in-out transform"
        id="sidebar_menu">
        <div class="w-full h-screen grid grid-cols-3">
            <div class="bg-black opacity-50 relative" id="blank_model">

            </div>
            <div class="col-span-2 pt-12 bg-gray-200 px-8 font-bold text-sm text-gray-700">
                <ul class="">
                    <li class="py-4 border-b-2 border-t-2 border-gray-500 text-center"><a href="/"
                            class=" hover:text-blue-800  cursor-pointer">الرئيسية</a></li>
                    <li class="py-4 border-b-2 border-gray-500 text-center"><a href="#"
                            class=" hover:text-blue-800  cursor-pointer">دراسات</a></li>
                    <li class="py-4 border-b-2 border-gray-500 text-center"><a href="#"
                            class=" hover:text-blue-800  cursor-pointer">مقالات</a></li>
                    <li class="py-4 border-b-2 border-gray-500 text-center"><a href="#"
                            class=" hover:text-blue-800  cursor-pointer">يراع اليافعين</a></li>
                    <li class="py-4 border-b-2 border-gray-500 text-center"><a href="#"
                            class=" hover:text-blue-800  cursor-pointer">المزيد</a></li>
                    </li>
                </ul>
            </div>
            

        </div>
    </nav>