{{>user_header}}

<div class="w-[90%] mx-auto max-w-7xl" style="font-family: Noto Kufi Arabic;">
    <h1 class="mt-2 mx-auto text-2xl pb-1 px-2 w-fit border-b-2 mb-6 font-bold">كلمة رئيس التحرير</h1>
    <section class="p-4 px-6 flex flex-col-reverse md:flex-row">
           
         <div class="md:w-1/2 w-full">
            <h3 class="text-xl text-[rgb(109,156,180)] py-1 px-4 font-bold">مجلة المداد</h3>
            <p class="py-2 px-4 pl-8 font-normal text-sm">
               بسم هللا الرحمن الرحيم، الحمد هلل رب العالمين ، وصلى هللا على اسيدنا محمد ، وعلى اله وصحبه وسلم وبعد
قال هللا تعالى : إنا خلقناكم من ذكر وأنت وجعلناكم شعوبا وقبائل لتعارفوا والتعارف معين من اسم المعاني وعلة عليا
وسبب مفهوم من جعل الناس شعوبا وقبائل مع أنهم متحدون بالخلقية من ذكر وأنت ال غير ومن ذات اللهتمام أن يكون اإلنسان
مياال بنفسه إلى أخيه المجاور له بل للناس أجمعين بالعون المادي والمعنوي والديين، فالتعارف والتفاهم حاصالن - ال محالة - بكل حال وحين ، وناهيكم شرائع السالم ومشاريعه فحسب أن تكونوا متمسكين بالعروة الوثقى ومجمعين تحت راية واحدة بالجماعة فيد هللا على الجماعة والعون الرباني مع الجماعة ، أيها الخوة العزة الى تصرفوا أعينكم نحو الدني | الغرورة النها ربما تجعل الصديق الحميم له عدوا لدودا والألم الكريم خالفا له ، والعياذ باهلل وهذا ديدن الدنيا وطبيعته فال يغتر إخواننا وال يقعوا في ورطة الجمل والجهالة بل عليهم أن يكونوا بالمقياس العليم ومعيار الفهم والتفاهم وباهلل التوفيق، وبا إلضافة علينا أن نكون في غاية من الوضوح والظهور، أن أيامنا هذه ليست بصفة الخلود والأليدية ولكن حقيق بالتن اهي والنتهاء والجل من هللا محدود، وليس للعيد إدراكه قبل الحلول بل يؤاخذه اذا حل والتأخير محال ال يمكن إذا حل القدر والتقدير ولذا انت اللونة وكانت الحين أن تكون مجمعين على الخيرات ومتفقين على كرام الألمور ومحامدها غير أنا خلقنا مختلفين بصفات مختلفة، إذا تكن في عون هللا الدائم المتدائم وظله الظليل وحصنه الحصين كما جاء في الحديث الشريف وهللا في عون العبد ما كان العبد في عون أخيه وموافق الهجرة والعمرة تهبنا تلك اللحيان المقدسة من التكاتف والتعاضد والتعاون وهذا - ال محالة - تحقيق لما أتى به اإلسالم من معانى الخوة والتحابب، ومن حق المسلم وواجبه ومسؤوليت . الهتمام بأمور المسلمين وصرف أوقاته في خدمة الشريعة الغراء
            </p>
        </div>
        <div class="md:w-1/2 w-full">
            <div class="w-full h-full mx-auto grid grid-cols-1 place-content-center pl-12">
                
            <img class="w-full h-full" src="/static/images/swadiq thangal.png" alt="" />
            </div> 
        </div>
    </section>
</div>