{{>user_header}}

<div class="w-[90%] mx-auto max-w-7xl" style="font-family: Noto Kufi Arabic;">
    <h1 class="mt-2 mx-auto text-2xl pb-1 px-2 w-fit border-b-2 mb-6 font-bold">كلمة رئيس التحرير</h1>
    <section class="p-4 px-6 flex flex-col-reverse md:flex-row">
           
         <div class="md:w-1/2 w-full">
            <h3 class="text-xl text-[rgb(109,156,180)] py-1 px-4 font-bold">مجلة المداد</h3>
            <p class="py-2 px-4 pl-8 font-normal text-sm">
بسم الله الرحمن الرحيم، الحمد لله رب العالمين، والصلاة والسلام على
سيدنا محمد النبي الأمين، وعلى آله وصحبه الغر الميامين، والتابعين لهم
بإحسان إلى يوم الدين، وبعد
مجلة واحدة تستطيع تجديد أنشطة فعّالية في قوم معين أكثر مما
تستطيعه الخطب والمواعيظ، ولما كانت تلك المجلة مجلة تسعى لتنمية
التفاعيل اللغوية خاصة في اللغة العربية صارت مصير زيادة العساجد في
الزمارد، لأنها تؤثر تأثيرا جيّاشا في ازدهار مفعالية ما ينبت من بنان
الولدان في انتعاش لغة الجنان.
خصوصا في هذه الأزمنة المعاصرة، في فيضان كثرة استخدامات
الوسائل الاجتماعية وعولميّتها عبر الأجيال القادمة، قد قادت كلهن الإنسان
إلى العصبية العنيفة والشعبية الشنيعة والدينية المتطرفة بدلا من المودة
البشرية والألفة القومية والرأفة الوطنية، فضلا من انتقاص المهارات
الإنسانية والإبداعات البشرية، حتى وصلنا بموصل يخاف فيه اضمحلال
ربيع الكتابات وازدهار الآداب والتعليمات.
فهنا، أن لمثل هذه المجلات مكانة فذة فريدة في تحثيث الأجيال
القادمة ومرورهم على تراث الآداب والثقافات الفنية والعلمية خاصة الآداب
اللغوية العربية، لأن لها مزية عليا من سائر اللغات كما نعلم معاشر أهل
الإسلام مزاياها وفضائلها، و&quot;مجلة المداد&quot; لها أثر بالغ في تقديم الأفكار
المنهضة والآراء المعجبة المعاصرة في المجتمع المعاصر، خاصة في
تنشيط المهارات اللغوية والإبداعات الفنية في طلاب كليتنا دار الحسنات
الإسلامية كما نتفاءل باسمها مقتبسين من الآية الكريمة &quot;إن الحسنات يذهبن
السيّئات&quot;، ولله درّ الشاعر في وصف المداد:

إنما الزعفــــــــــــــــــــــــــــــــران عطـــــــر العذاري *
ومـــــــــــــــــــــــــــــــــداد الدواة عطر الرجال
فـــــــــــــــ&quot;المداد خضاب الرجال&quot; كما قالته العرب، فنسجل بمداد من نور
فصلا من فصول المجد والتاريخ والعمل الدؤوب في مسيرتنا المتواضعة
إلى قمة معالينا المتواجهة، وليرزقنا الله حسن السير في طرق الرشاد،
ويوفقنا حسن السباق في سبل السداد، مع التوفيق والتمكين في تقوية كلمات
المداد، والله المستعان، وعليه التكلان، والحمد لله المنان.            </p>
        </div>
        <div class="md:w-1/2 w-full">
            <div class="w-full h-full mx-auto grid grid-cols-1 place-content-center pl-12">
             <div>
                <img class="w-full h-full" src="/static/images/swadiq thangal.png" alt="" />
                
             </div>   
            </div> 
        </div>
    </section>
</div>