 <section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6 h-screen">
        <div class="mx-auto max-w-screen-sm text-center" dir="ltr">
            <h1 class="mb-4 text-5xl tracking-tight font-bold lg:text-7xl text-blue-600 dark:text-blue-500">500</h1>
            <p class="mb-4 text-3xl tracking-tight font-bold text-gray-900 md:text-4xl dark:text-white">Internal Server Error</p>
            <p class="mb-4 text-lg font-light text-gray-500 dark:text-gray-400">Oops something went wrong. Try to refresh this page or
feel free to contact us if the problem presists. </p>
         
                <a href="{{url}}" class="text-blue-700">Refresh</a>
         
        </div>   
    </div>
</section>