{{>user_header}}

<section class="md:w-full sm:w-full lg:h-full md:h-screen sm:h-screen h-full mt-40 overflow-hidden">
    
    <div id="header_img" class="w-4/5 h-full rounded-xl overflow-hidden bg-cover bg-center bg-opacity-50 mx-auto lg:w-3/4 md:w-3/4" 
    style="background-image: url('https://images.unsplash.com/photo-1627374391724-4285ba5193b8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80')">
        
        <div class="flex bg-black bg-opacity-60 w-full h-full  p-12 hover:bg-opacity-70 lg:flex-row md:flex-row flex-col xl:p-16 md:p-16">
            <div id="hadith" style="font-family: 'Noto Naskh Arabic', serif;" class="w-full grid place-content-center text-white order-last md:order-first sm:order-first lg:w-3/5 md:w-3/5">
                <h2 id="hadith_h2" class="text-4xl font-bold text-center lg:text-right md:text-right" data-aos="fade-up" data-aos-duration="1000"
                    data-aos-easing="ease-in-out">دروس و عبر من الهجرة</h2>
                    <p id="hadith_p" class="text-lg leading-10 mt-4 tracking-wide text-center lg:text-right md:text-right">
                        هذا العدد يضيئ إلى تذكيرات هجرة النبي صلى الله عليه وسلم
                    </p>
            </div>
            <div class="mx-auto my-auto">
                <div class="text-white relative lg:h-72 md:h-80 sm:h-80 mx-auto">
                    <a href="#">
                        <img src="/static/images/mock_muharram.png" id="cover"
                             class="h-full md:scale-125 w-42 object-cover transition-all duration-500 ease-in-out transform cursor-pointer lg:hover:scale-150 hover:scale-125" 
                        />
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="latest_articles" class="md:w-3/4 lg:w-3/4 w-4/5 mx-auto mt-16">
    <div class="grid md:grid-cols-2 grid-cols-1 gap-4 py-20">
        {{#each recentArticles}}
        <a href="articles/{{this._id}}" class="rounded-xl">
            <div id="article_bg" data-aos="fade-up" data-aos-duration="1000" class="relative transition-all ease-in duration-5000 delay-150   rounded-xl h-full grid grid-cols-1 overflow-hidden"
                >
                <div id="article_text" class="absolute bg-cover bg-center top-0 h-full  p-12  hover:bg-opacity-30 h-full flex justify-self-center w-full"
                        style="background-image: url('/static/article-images/{{this._id}}.jpg');">
                    
                </div>
                <div class="h-full my-auto p-10 z-10 bg-black bg-opacity-50">
                        <h2 class="text-2xl my-1 text-right capitalize font-bold text-white hover:text-blue-200">
                            {{this.topic}}
                        </h2>
                        <p class="mb-8 "><small class="font-small ml-6 font-bold text-blue-400">{{this.author}}</small>
                        </p>
                        <button class="p-2 mt-2 rounded-full px-5 shadow-lg bg-white text-blue-500 font-bold">إقرأ المزيد</button>
                    </div>
            </div>
        </a>
        {{/each}}


    </div>
</section>

<div class="w-full h-auto mt-4 mb-16">
    <div class="w-3/4 mx-auto" data-aos="fade-in" data-aos-duration="1000">
        <img src="/static/images/web_cover.jpg" class="w-full h-full rounded-xl border" />
    </div>
</div>

<div class="w-full h-screen backdrop-filter backdrop-blur-2xl hidden fixed top-0 z-50 transition-all duration-1000 ease-linear" id="launch_page">
    <div class="w-3/4 h-5/6 mx-auto mt-16 bg rounded-3xl overflow-hidden shadow-xl bg-cover bg-center bg-opacity-50"  style="background-image: url('/static/images/background_1.jpg')">
        <div class="bg-black bg-opacity-70 h-full p-4">
            <h1 class="text-3xl text-center font-extrabold text-gray-200" style="font-family: 'Cairo';">بسم الله الرحمن الرحيم</h1>
            <div class="bg-gray-50 border-8 border-blue-400 mt-8 rounded-full w-2/4 mx-auto">
                <img src="/static/images/midad_logo.png" class="w-52 h-52 mx-auto" />
            </div>
            <div class="w-2/12 mx-auto  mt-12" id="launch_button">
                    <i class="fa-solid fa-rocket bg-blue-500 rounded-full p-8 text-4xl mr-6 text-white cursor-pointer border-8 border-transparent transition-all hover:border-6 hover:border-blue-300 hover:shadow-neutral-100 hover:drop-shadow-2xl hover:bg-indigo-500"></i>
            </div>
        </div>
    </div>
</div>
