<section class="bg-gray-100">
  <!-- Header Section -->
  <section
    class="w-full"
    style="background-image: url('/static/images/cover_pic.jpg'); background-size: cover; height: auto;"
  >
    <div
      class="bg-black bg-opacity-70 grid place-items-center text-white py-6"
      style="min-height: 600px;max-height: auto;"
    >
      <div class="container mx-auto text-center p-6 w-full max-w-7xl" data-aos="fade-in">
        <a href="/"><img
          src="/static/images/Midad_typeface_white_2.png"
          alt="Al Midad Logo"
          class="mx-auto mb-4 w-64"
        /></a>
        <h1 class="text-2xl">AL MIDAD ARABIC BIMONTHLY</h1>
        <p class="text-3xl font-bold">SUBSCRIPTION PORTAL</p>
      </div>
    </div>
  </section>

  <!-- About Section -->
  <section  class="bg-white py-12 px-12" data-aos="fade-up">
    <div class="container grid md:grid-cols-2 gap-4 mx-auto w-full max-w-7xl place-items-center" dir="ltr">
      <div class="flex items-center mb-8">
        <img
          src="/static/images/covers.png"
          alt="Al Midad Magazine 1"
          class="w-3/4 mx-auto"
        />
      </div>
      <p class="text-base max-w-4xl mx-auto w-full md:w-4/5 text-justify" dir="ltr">
        Al-Midad magazine is a bright idea of enthusiasts from Darul Hasanath
        Islamic College, aiming to spread and flourish the Arabic language and
        its literature among students. It has published eleven issues throughout
        these years. Now, the magazine is published over a period of two months,
        maintaining the quality of the articles, studies, researches, etc. The
        magazine aims specifically to develop the skill of the Arabic language
        and the prosperity of its literature and culture among the hands of the
        state of Kerala, as it constitutes an Arab scientific community for a
        viable future. We ask God Almighty for success and mercy in what He
        loves and is pleased with.
      </p>
    </div>
  </section>

  <!-- Subscription Form Section -->
  <section class="bg-[#577D8A] py-12" dir="ltr" data-aos="fade-up">
    <div class="container mx-auto p-6 md:p-8">
      <h2 class="text-3xl font-bold text-white text-center mb-2" data-aos="fade-up">SUBSCRIPTION FORM</h2>
      <p class="text-center text-gray-200 mb-8 font-extralight text-sm" data-aos="fade-up">Required fields are indicated *</p>
      <form
        method="post"
        action="/subscribe"
        class="max-w-3xl mx-auto bg-white p-4 py-8 md:p-8 shadow-md rounded-3xl"
        dir="ltr"
        data-aos="fade-up"
      >
        <div class="flex flex-wrap -mx-3 mb-4">
          <div class="w-full md:w-1/2 px-3 mb-4 md:mb-0">
            <label
              for="name"
              class="block text-gray-700 mb-2"
            >Name*</label>
            <input
              type="text"
              id="name"
              name="name"
              class="w-full p-2 border border-gray-300 rounded-xl"
              required
            />
          </div>
          <div class="w-full md:w-1/2 px-3">
            <label
              for="institution"
              class="block text-gray-700 mb-2"
            >Institution/House*</label>
            <input
              type="text"
              id="institution"
              name="house"
              class="w-full p-2 border border-gray-300 rounded-xl"
              required
            />
          </div>
        </div>
        <div class="flex flex-wrap -mx-3 mb-4">
          <div class="w-full md:w-1/2 px-3 mb-4 md:mb-0">
            <label
              for="contact"
              class="block text-gray-700 mb-2"
            >Contact Number*</label>
            <input
              type="text"
              id="contact"
              name="contact"
              class="w-full p-2 border border-gray-300 rounded-xl"
              required
            />
          </div>
          <div class="w-full md:w-1/2 px-3">
            <label
              for="email"
              class="block text-gray-700 mb-2"
            >Email</label>
            <input
              type="email"
              id="email"
              name="email"
              class="w-full p-2 border border-gray-300 rounded-xl"
            />
          </div>
        </div>
        <div class="flex flex-wrap -mx-3 mb-4">
          <div class="w-full md:w-1/2 px-3 mb-4 md:mb-0">
            <label
              for="whatsapp"
              class="block text-gray-700 mb-2"
            >Whatsapp Number*</label>
            <input
              type="text"
              id="whatsapp"
              name="whatsapp"
              class="w-full p-2 border border-gray-300 rounded-xl"
              required
            />
          </div>
          <div class="w-full md:w-1/2 px-3">
            <label
              for="place"
              class="block text-gray-700 mb-2"
            >Place*</label>
            <input
              type="text"
              id="place"
              name="place"
              class="w-full p-2 border border-gray-300 rounded-xl"
              required
            />
          </div>
        </div>
        <div class="flex flex-wrap -mx-3 mb-4">
          <div class="w-full md:w-1/2 px-3 mb-4 md:mb-0">
            <label
              for="district"
              class="block text-gray-700 mb-2"
            >District*</label>
            <input
              type="text"
              id="district"
              name="district"
              class="w-full p-2 border border-gray-300 rounded-xl"
              required
            />
          </div>
          <div class="w-full md:w-1/2 px-3">
            <label
              for="state"
              class="block text-gray-700 mb-2"
            >State*</label>
            <input
              type="text"
              id="state"
              name="state"
              class="w-full p-2 border border-gray-300 rounded-xl"
              required
            />
          </div>
        </div>
        <div class="flex flex-wrap -mx-3 mb-4">
          <div class="w-full md:w-1/2 px-3 mb-4 md:mb-0">
            <label for="post" class="block text-gray-700 mb-2">Post Office*</label>
            <input
              type="text"
              id="post"
              name="post"
              class="w-full p-2 border border-gray-300 rounded-xl"
              required
            />
          </div>
          <div class="w-full md:w-1/2 px-3">
            <label
              for="pin"
              class="block text-gray-700 mb-2"
            >Pin*</label>
            <input
              type="text"
              id="pin"
              name="pin"
              class="w-full p-2 border border-gray-300 rounded-xl"
              required
            />
          </div>
        </div>
        <input
          type="hidden"
          name="_csrf"
          value="{{csrfToken}}"
        />
        <div class="text-center mt-6">
          <button
            type="submit"
            class="bg-blue-500 text-white font-bold py-2 px-4 rounded"
          >Submit</button>
        </div>
      </form>
    </div>
  </section>
</section>
