.h1 {
    color:blue;
}

.top-100 {
    top: 40rem;
}

/*** iNDEX PAGE **/
 @font-face {
     font-family: ge-bold;
     src: url(/static/fonts/GE\ SS\ TV\ Bold.ttf);
 }

 @font-face {
     font-family: ge-medium;
     src: url(/static/fonts/GE\ SS\ Two\ Medium.otf);
 }
 


