.h1 {
    color:blue;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    font-family: ge-medium;
}

.top-100 {
    top: 40rem;
}

#article_bg:hover #article_text{
    transform: scale(1.2);
    transition: all .4s;
    transition-timing-function: ease-in-out;
}


.CodeMirror-scroll {
    margin-right: 0px;
}

.markdown p {
    margin: 10px 0px;
    text-indent: 40px; /* Indents the first line by 20 pixels */
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  /* Base styles for all headings */
  margin-top: 20px; /* Adjust spacing as needed */
  margin-bottom: 10px;
  font-family: ge-medium; /* Choose your preferred font stack */
  color: #333; /* Set the base font color */
}

.markdown h1 {
  font-size: 2rem; /* Adjust based on your design */
  font-weight: bold;
}

.markdown h2 {
  font-size: 1.8rem;
  font-weight: bold;
}

.markdown h3 {
  font-size: 1.6rem;
  font-weight: bold;
}

.markdown h4 {
  font-size: 1.4rem;
  font-weight: bold;
}

.markdown h5 {
  font-size: 1.2rem;
  font-weight: bold;
}

.markdown h6 {
  font-size: 1rem;
  font-weight: bold;
}

  
.swiper-articles .swiper-slide {
    border-radius: 1.6rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;

}

.swiper-article-active {
  width: 450px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.ltr-select {
  background-position: right 0.5rem center !important;
  padding-left: 5px !important;
  padding-right: 1.75rem !important;
}

/*** iNDEX PAGE **/
 @font-face {
     font-family: ge-bold;
     src: url(/static/fonts/GE\ SS\ TV\ Bold.ttf);
 }

 @font-face {
     font-family: ge-medium;
     src: url(/static/fonts/GE\ SS\ Two\ Medium.otf);
 }
 


