.h1 {
    color:blue;
}

.top-100 {
    top: 40rem;
}
#article_bg:hover #article_text{
    transform: scale(1.2);
    transition: all .4s;
    transition-timing-function: ease-in-out;
}


/*** iNDEX PAGE **/
 @font-face {
     font-family: ge-bold;
     src: url(/static/fonts/GE\ SS\ TV\ Bold.ttf);
 }

 @font-face {
     font-family: ge-medium;
     src: url(/static/fonts/GE\ SS\ Two\ Medium.otf);
 }
 


